jupyterlab
nbzip
keras
ipywidgets
nbresuse
nbgitpuller
scikit-image 
matplotlib
numpy
pandas
statsmodels
sympy
xlrd
scikit-learn
seaborn
opencv-python
opencv-contrib-python
easydict
Pillow
imageio
pydot
pyyaml
pypdf2
pdfkit
scipy
tensorflow
ftfy
timm
transformers
cmake
lit
