jupyterlab
nbzip
keras
ipywidgets
nbresuse
nbgitpuller
scikit-image 
matplotlib
numpy
pandas
statsmodels
sympy
xlrd
scikit-learn
seaborn
opencv-python
opencv-contrib-python
easydict
Pillow
spacy
nltk
gensim
imageio
wikipedia-api
pydot
pyyaml
pypdf2
pdfkit
scipy
tensorflow
ftfy
timm
transformers
cmake
lit
llama-cpp-python
#open3d
