tensorflow==2.8.0
keras
ipywidgets
nbresuse
nbgitpuller
scikit-image 
matplotlib
numpy
pandas
scipy
statsmodels
sympy
xlrd
scikit-learn
seaborn
opencv-python
opencv-contrib-python
easydict
Pillow
spacy
nltk
gensim
imageio
wikipedia-api
pydot
pyyaml
pypdf2
pdfkit
open3d==0.14.1
