keras
ipywidgets
nbresuse
nbgitpuller
scikit-image 
matplotlib
numpy
pandas
statsmodels
sympy
xlrd
scikit-learn
seaborn
opencv-python
opencv-contrib-python
easydict
Pillow
spacy
nltk
gensim
imageio
wikipedia-api
pydot
pyyaml
pypdf2
pdfkit
scipy==1.8.1
tensorflow
open3d==0.16.0
