name: Build, test, and push images

on:
  schedule:
    # Weekly, at 03:00 on Monday UTC
    - cron: "0 3 * * 1"
  pull_request:
    paths:
      - ".github/workflows/docker.yml"
      # We use local reusable workflows to make architecture clean and simple
      # https://docs.github.com/en/actions/using-workflows/reusing-workflows
      - ".github/workflows/docker-build-test-upload.yml"
      - "base-gpu-notebook/**"
      - "ml-notebook/**"
      - "nlp-notebook/**"
      - "geo-notebook/**"
  push:
    branches:
      - main
      - master
      - ci-test
    paths:
      - ".github/workflows/docker.yml"
      - ".github/workflows/docker-build-test-upload.yml"
      - "base-gpu-notebook/**"
      - "ml-notebook/**"
      - "nlp-notebook/**"
      - "geo-notebook/**"
  workflow_dispatch:

# https://docs.github.com/en/actions/using-jobs/using-concurrency
concurrency:
  # Only cancel in-progress jobs or runs for the current workflow - matches against branch & tags
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # cuda 11
  base-gpu-notebook-cuda11:
    secrets: inherit
    uses: ./.github/workflows/docker-build-test-upload.yml
    with:
      parent-image: ''
      parent-variant: ''
      load-parent: false # base does not need parent from artifact
      image: base-gpu-notebook
      variant: cuda11-pytorch-2.2.2
      context: base-gpu-notebook/.build/cuda11-pytorch-2.2.2/
      push: ${{ github.event_name == 'push' }}
      runs-on: ubuntu-latest
  
  ml-notebook-cuda11:
    needs: [base-gpu-notebook-cuda11]
    secrets: inherit
    uses: ./.github/workflows/docker-build-test-upload.yml
    with:
      parent-image: base-gpu-notebook
      parent-variant: cuda11-pytorch-2.2.2
      image: ml-notebook
      variant: cuda11-pytorch-2.2.2
      context: ml-notebook/cuda11-pytorch-2.2.2/
      push: ${{ github.event_name == 'push' }}
      runs-on: ubuntu-latest

  nlp-notebook-cuda11:
    needs: [ml-notebook-cuda11]
    secrets: inherit
    uses: ./.github/workflows/docker-build-test-upload.yml
    with:
      parent-image: ml-notebook
      parent-variant: cuda11-pytorch-2.2.2
      image: nlp-notebook
      variant: cuda11-pytorch-2.2.2
      context: nlp-notebook/cuda11-pytorch-2.2.2/
      push: ${{ github.event_name == 'push' }}
      runs-on: ubuntu-latest

  # cuda12
  base-gpu-notebook-cuda12:
    secrets: inherit
    uses: ./.github/workflows/docker-build-test-upload.yml
    with:
      parent-image: ''
      parent-variant: ''
      load-parent: false # base does not need parent from artifact
      image: base-gpu-notebook
      variant: cuda12-pytorch-2.2.2
      context: base-gpu-notebook/.build/cuda12-pytorch-2.2.2/
      push: ${{ github.event_name == 'push' }}
      runs-on: ubuntu-latest

  ml-notebook-cuda12:
    needs: [base-gpu-notebook-cuda12]
    secrets: inherit
    uses: ./.github/workflows/docker-build-test-upload.yml
    with:
      parent-image: base-gpu-notebook
      parent-variant: cuda12-pytorch-2.2.2
      image: ml-notebook
      variant: cuda12-pytorch-2.2.2
      context: ml-notebook/cuda12-pytorch-2.2.2/
      push: ${{ github.event_name == 'push' }}
      runs-on: ubuntu-latest

  nlp-notebook-cuda12:
    needs: [ml-notebook-cuda12]
    secrets: inherit
    uses: ./.github/workflows/docker-build-test-upload.yml
    with:
      parent-image: ml-notebook
      parent-variant: cuda12-pytorch-2.2.2
      image: nlp-notebook
      variant: cuda12-pytorch-2.2.2
      context: nlp-notebook/cuda12-pytorch-2.2.2/
      push: ${{ github.event_name == 'push' }}
      runs-on: ubuntu-latest

  geo-notebook-cuda12:
    needs: [ml-notebook-cuda12]
    secrets: inherit
    uses: ./.github/workflows/docker-build-test-upload.yml
    with:
      parent-image: ml-notebook
      parent-variant: cuda12-pytorch-2.2.2
      image: geo-notebook
      variant: cuda12-pytorch-2.2.2
      context: geo-notebook/cuda12-pytorch-2.2.2/
      push: ${{ github.event_name == 'push' }}
      runs-on: ubuntu-latest

  # cuda12-ubuntu20.04 for ros noetic
  cuda12-ubuntu20_04:
    secrets: inherit
    uses: ./.github/workflows/docker-build-test-upload.yml
    with:
      parent-image: ''
      parent-variant: ''
      load-parent: false # base does not need parent from artifact
      image: base-gpu-notebook
      variant: cuda12-ubuntu20.04
      context: base-gpu-notebook/.build/cuda12-ubuntu20.04
      push: ${{ github.event_name == 'push' }}
      runs-on: ubuntu-latest

  cuda12-ros-noetic:
    needs: [cuda12-ubuntu20_04]
    secrets: inherit
    uses: ./.github/workflows/docker-build-test-upload.yml
    with:
      parent-image: base-gpu-notebook
      parent-variant: cuda12-ubuntu20.04
      image: ros
      variant: cuda12-noetic
      context: ros/cuda12-noetic
      push: ${{ github.event_name == 'push' }}
      runs-on: ubuntu-latest
